<%= form_with model: [ article, @comment ], class: "comment-form" do |form| %>
  <div>
    <%= form.label :commenter, "Name" %><br>
    <%= form.text_field :commenter, maxLength: "30", readonly: true %>
    <% @comment.errors.full_messages_for(:commenter).each do |message| %>
      <div class="error-message"><%= message %></div>
    <% end %>
  </div>
  
  <div>
    <%= form.label :body, "Comment" %><br>
    <%= form.text_area :body, cols: "60", rows: "10", readonly: true %>
    <% @comment.errors.full_messages_for(:body).each do |message| %>
      <div class="error-message"><%= message %></div>
    <% end %>
  </div>

  <%= form.submit %>
<% end %>
