<div id="article-show">
  <%= image_tag "https://source.unsplash.com/random/854x480", size: "854x480", class: "article-image" %>

  <h1><%= @article.title %></h1>

  <div class="article-tags">
    <span>Tags:</span>
    <% @article.tags.each do |tag| %>
      <%= link_to tag.name, tag %>
    <% end %>
  </div>

  <hr width="100%">
  <p class="article-body"><%= @article.body %></p>

  <div class="comment-section">
    <h2>Comments</h2>

    <h2>Add a comment</h2>

    <div class="blog-form">
      <%= render "comments/form", article: @article %>
    </div>

    <% @article.comments.reverse.each do |comment| %>
      <p>
        <strong class="author"><%= comment.commenter %></strong>
        <%= distance_of_time_in_words(comment.created_at.to_i, Time.now.utc.to_i) %> ago
        <%= link_to "Delete", [comment.article, comment], data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "delete-comment" %>
      </p>

      <div class="comment-body">
        <p><%= comment.body %></p>
      </div>
    <% end %>
  </div>
</div>

<ul id="footer-nav">
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <li><%= link_to "Destroy", @article, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></li>
  <li><%= link_to "Back", articles_path %></li>
</ul>