<div id="article-show">
  <%= image_tag "https://source.unsplash.com/random/854x480", size: "854x480", class: "article-image" %>

  <h1><%= @article.title %></h1>

  <hr width="100%">
  
  <p class="article-body"><%= @article.body %></p>

  <% if @article.tags.any? %>
    <div class="article-tags">
      <span>Tags:</span>
      <% @article.tags.each do |tag| %>
        <%= link_to tag.name, tag %>
      <% end %>
    </div>
  <% end %>

  <div class="comment-section">
    <h2>Comments</h2>

    <div class="blog-form">
      <%= render "comments/form", article: @article %>
    </div>
    
    <%= render partial: "comments/comment", collection: @article.comments.reverse %>
  </div>
</div>

<ul id="fixed-nav">
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <li><%= link_to "Destroy", @article, data: { turbo_method: :get, turbo_confirm: "Are you sure?" } %></li>
  <li><%= link_to "Back", articles_path %></li>
</ul>